<!DOCTYPE html>
<html>
   <head>
      <meta charset = "ISO-8859-1" />
      
      <title>Spring Boot Application</title>
   </head>
   <body>
   Kraken
      <tr th:each="message : ${kraken}">
        <td th:text="${kraken.btc.price}">1</td>
        <td th:text="${kraken.etc.price}">1</td>
        <td th:text="${kraken.eth.price}">1</td>
        <td th:text="${kraken.bch.price}">1</td>
        <td th:text="${kraken.xrp.price}">1</td>
        
    </tr>
    <br><br>
    Binance
    <tr th:each="message : ${binance}">
        <td th:text="${binance.btc.price}">1</td>
        <td th:text="${binance.etc.price}">1</td>
        <td th:text="${binance.eth.price}">1</td>
        <td th:text="${binance.bch.price}">1</td>
        <td th:text="${binance.xrp.price}">1</td>
        
    </tr>
   </body>
</html>